.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: rgb(0,148,115) !important;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

